<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
	<title>Insert title here</title>
</head>
<div>
    <!-- Navigation-->
    <header th:fragment="navigation">
	    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
	        <div class="container px-5">
	            <a class="navbar-brand" href="#page-top">최상단으로 가기</a>
	            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
	            <div class="collapse navbar-collapse" id="navbarResponsive">
	                <ul class="navbar-nav ms-auto">
	                    <li class="nav-item"><a class="nav-link" href="/userList">사용자 목록</a></li>
	                    <li class="nav-item"><a class="nav-link" href="/signUp">Sign Up</a></li>
	                    <li class="nav-item"><a class="nav-link" href="#!">Log In</a></li>
	                </ul>
	            </div>
	        </div>
	    </nav>
	    <div style="padding-bottom: 100px"></div>
    </header>
</div>
</html>


